# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [38]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahebourg,MU,-20.4081,57.7000,71.26,83,20,0.00,few clouds
1,1,Kodiak,US,57.7900,-152.4072,38.71,81,100,19.57,light rain
2,2,Egvekinot,RU,66.3167,-179.1667,15.35,93,100,4.43,overcast clouds
3,3,Vaini,TO,-21.2000,-175.2000,78.96,89,75,8.05,broken clouds
4,4,Aguilas,ES,37.4063,-1.5829,65.77,63,53,5.28,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [39]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [40]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahebourg,MU,-20.4081,57.7000,71.26,83,20,0.00,few clouds
3,3,Vaini,TO,-21.2000,-175.2000,78.96,89,75,8.05,broken clouds
7,7,Khalilabad,IN,26.7750,83.0736,70.97,71,0,2.75,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,73.45,85,100,9.26,overcast clouds
9,9,Fare,PF,-16.7000,-151.0167,79.25,77,100,14.92,light rain
12,12,Guantanamo,CU,20.1444,-75.2092,81.97,88,12,1.32,few clouds
14,14,Aloleng,PH,16.1307,119.7824,84.09,68,90,6.11,overcast clouds
15,15,Hobart,AU,-42.8794,147.3294,82.06,44,0,17.27,clear sky
16,16,Fukuma,JP,33.7667,130.4667,72.28,41,56,2.26,broken clouds
19,19,Alofi,NU,-19.0595,-169.9187,82.29,65,40,14.97,scattered clouds

In [41]:
preferred_cities_df.count()

City_ID                271
City                   271
Country                271
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Current Description    271
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [42]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahebourg,MU,-20.4081,57.7000,71.26,83,20,0.00,few clouds
3,3,Vaini,TO,-21.2000,-175.2000,78.96,89,75,8.05,broken clouds
7,7,Khalilabad,IN,26.7750,83.0736,70.97,71,0,2.75,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,73.45,85,100,9.26,overcast clouds
9,9,Fare,PF,-16.7000,-151.0167,79.25,77,100,14.92,light rain
12,12,Guantanamo,CU,20.1444,-75.2092,81.97,88,12,1.32,few clouds
14,14,Aloleng,PH,16.1307,119.7824,84.09,68,90,6.11,overcast clouds
15,15,Hobart,AU,-42.8794,147.3294,82.06,44,0,17.27,clear sky
16,16,Fukuma,JP,33.7667,130.4667,72.28,41,56,2.26,broken clouds
19,19,Alofi,NU,-19.0595,-169.9187,82.29,65,40,14.97,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [43]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

          City Country  Max Temp Current Description      Lat       Lng
0    Mahebourg      MU     71.26          few clouds -20.4081   57.7000
3        Vaini      TO     78.96       broken clouds -21.2000 -175.2000
7   Khalilabad      IN     70.97           clear sky  26.7750   83.0736
8      Rikitea      PF     73.45     overcast clouds -23.1203 -134.9692
9         Fare      PF     79.25          light rain -16.7000 -151.0167
12  Guantanamo      CU     81.97          few clouds  20.1444  -75.2092
14     Aloleng      PH     84.09     overcast clouds  16.1307  119.7824
15      Hobart      AU     82.06           clear sky -42.8794  147.3294
16      Fukuma      JP     72.28       broken clouds  33.7667  130.4667
19       Alofi      NU     82.29    scattered clouds -19.0595 -169.9187

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [44]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahebourg,MU,71.26,few clouds,-20.4081,57.7000,
3,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
7,Khalilabad,IN,70.97,clear sky,26.7750,83.0736,
8,Rikitea,PF,73.45,overcast clouds,-23.1203,-134.9692,
9,Fare,PF,79.25,light rain,-16.7000,-151.0167,
12,Guantanamo,CU,81.97,few clouds,20.1444,-75.2092,
14,Aloleng,PH,84.09,overcast clouds,16.1307,119.7824,
15,Hobart,AU,82.06,clear sky,-42.8794,147.3294,
16,Fukuma,JP,72.28,broken clouds,33.7667,130.4667,
19,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [45]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [46]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahebourg,MU,71.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
7,Khalilabad,IN,70.97,clear sky,26.7750,83.0736,Afroz tea sthal अफरोज टी स्टाल
8,Rikitea,PF,73.45,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Fare,PF,79.25,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
12,Guantanamo,CU,81.97,few clouds,20.1444,-75.2092,Hotel Guantánamo
14,Aloleng,PH,84.09,overcast clouds,16.1307,119.7824,Aloleng
15,Hobart,AU,82.06,clear sky,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
16,Fukuma,JP,72.28,broken clouds,33.7667,130.4667,Masago
19,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,Taloa Heights

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [48]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahebourg,MU,71.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
7,Khalilabad,IN,70.97,clear sky,26.7750,83.0736,Afroz tea sthal अफरोज टी स्टाल
8,Rikitea,PF,73.45,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Fare,PF,79.25,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
12,Guantanamo,CU,81.97,few clouds,20.1444,-75.2092,Hotel Guantánamo
14,Aloleng,PH,84.09,overcast clouds,16.1307,119.7824,Aloleng
15,Hobart,AU,82.06,clear sky,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
16,Fukuma,JP,72.28,broken clouds,33.7667,130.4667,Masago
19,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,Taloa Heights

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [49]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [51]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [52]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 71.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Afroz tea sthal अफरोज टी स्टाल</dd>\n<dt>City</dt><dd>Khalilabad</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maitai Lapita Village Huahine</dd>\n<dt>City</dt><dd>Fare</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 79.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Guantánamo</dd>\n<dt>City</dt><dd>Guantanamo</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aloleng</dd>\n<dt>City</dt><dd>Aloleng</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Masago</dd>\n<dt>City</dt><dd>Fukuma</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 72.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.29 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [53]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -20.4081   57.7000
3  -21.2000 -175.2000
7   26.7750   83.0736
8  -23.1203 -134.9692
9  -16.7000 -151.0167
12  20.1444  -75.2092
14  16.1307  119.7824
15 -42.8794  147.3294
16  33.7667  130.4667
19 -19.0595 -169.9187

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [54]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))